/*--------一图流美化---------*/
/* 页脚透明 */
  #footer{
    background: transparent!important;
  }
  /* 页脚黑色透明玻璃效果移除 */
  #footer::before{
      background: transparent!important;
    }
  /* 头图透明 */
  #page-header{
    background: transparent!important;
  }
  /*top-img黑色透明玻璃效果移除，不建议加，除非你执着于完全一图流或者背景图对比色明显 
  #page-header.post-bg:before {
    background-color: transparent!important;
  }*/
  /*夜间模式伪类遮罩层透明*/
  [data-theme="dark"]
    #footer::before{
        background: transparent!important;
    }
  [data-theme="dark"]
    #page-header::before{
      background: transparent!important;
    }
/*--------一图流美化(end)---------*/

/*--------透明度修改---------*/  
  /* 首页文章卡片 */
  #recent-posts > .recent-post-item{
      background:rgba(255, 255, 255, 0.9);
  }
  /* 首页侧栏卡片 */
  .card-widget{
    background:rgba(255, 255, 255, 0.9)!important;
  }
  /* 文章页面正文背景 */
  div#post{
    background: rgba(255, 255, 255, 0.9);
  }
  /* 分页页面 */
  div#page{
    background: rgba(255, 255, 255, 0.9);
  }
  /* 归档页面 */
  div#archive{
    background: rgba(255, 255, 255, 0.9);
  }
  /* 标签页面 */
  div#tag{
    background: rgba(255, 255, 255, 0.9);
  }
  /* 分类页面 */
  div#category{
    background: rgba(255, 255, 255, 0.9);
  }
/*--------透明度修改(end)---------*/  
  
  
/*--------aplayer缩进方案调整---------*/    
  .aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
    left: -66px !important;
    /* 默认情况下缩进左侧66px，只留一点箭头部分 */
  }
  .aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
    left: 0 !important;
    /* 鼠标悬停是左侧缩进归零，完全显示按钮 */
  }
/*--------aplayer缩进方案调整(end)---------*/    

  
/*--------字体---------*/
  @font-face{
    font-family:'candy' ;  /* 字体名自定义即可 */
    src:url('/fonts/Candy.ttf'); /* 字体文件路径 */
    font-display : swap;
  }
  @font-face{
    font-family:'cat' ;  /* 字体名自定义即可 */
    src:url('/fonts/qwq2.ttf'); /* 字体文件路径 */
    font-display : swap;
  }

  h1#site-title {
    font-family: 'candy', sans-serif!important;
  }
  .article-title {
    font-family: 'candy', sans-serif!important;
  }
  .post-title {
    font-family: 'candy', sans-serif;
  }
  #site-name {
    font-family: 'candy', sans-serif!important;
  }
  .article-sort-title {
    font-family: 'candy', sans-serif!important;
  }
  .article-sort-item.year {
    font-family: 'candy', sans-serif!important;
  }
  .author-info__name {
    font-family: 'candy', sans-serif!important;
  }
  .item-headline {
    font-family: 'candy', sans-serif!important;
  }
  #body-wrap {
    font-family: 'cat', sans-serif;
  }
  .post {
    font-family: 'cat', sans-serif;
  }
  #sidebar-menus {
    font-family: 'cat', sans-serif;
  }
  .MathJax.CtxtMenu_Attached_0 {
    font-size: 18px!important;
  }
/*--------字体(end)---------*/

/*--------黑暗模式适配---------*/
  [data-theme="dark"]
    #aside-content .card-widget{
        background: rgba(0, 0, 0, 0.5)!important;
    }
  [data-theme="dark"]
    div#post{
      background: rgba(0, 0, 0, 0.5)!important;
    }
  [data-theme="dark"]
  .recent-post-item{
    background: rgba(0, 0, 0, 0.5)!important;
  }
  [data-theme="dark"]
    #page{
      background: rgba(0, 0, 0, 0.5)!important;
    }
  [data-theme="dark"]
    #archive {
      background: rgba(0, 0, 0, 0.5)!important;
    }
/*--------黑暗模式适配(end)---------*/
  
/*--------阅读模式美化---------*/
  .read-mode #aside-content .card-widget{
        background: rgba(158, 204, 171, 0.5)!important;
  }
  .read-mode div#post{
      background: rgba(158, 204, 171, 0.5)!important;
  }
  .read-mode #aside-content .card-widget{
        background: rgba(158, 204, 171, 0.5)!important;
  }
  .read-mode div#post{
      background: rgba(158, 204, 171, 0.5)!important;
  }
/*--------阅读模式美化(end)---------*/

/*--------鼠标指针---------*/
/* 全局默认鼠标指针 */
body,
html{
  cursor: url('/img/cur/pointer.cur'),auto !important;
}
/* 悬停图片时的鼠标指针 */
img{
  cursor: url('/img/cur/link.cur'),auto !important;
}
/* 选择链接标签时的鼠标指针 */
a:hover{
    cursor: url('/img/cur/link.cur'),auto;
}
/* 选中输入框时的鼠标指针 */
input:hover{
    cursor: url('/img/cur/vert.cur'),auto;
}
/* 悬停按钮时的鼠标指针 */
button:hover{
    cursor: url('/img/cur/link.cur'),auto;
}
/* 悬停列表标签时的鼠标指针 */
i:hover{
    cursor: url('/img/cur/link.cur'),auto;
}
/* 悬停页码时的鼠标指针 */
#pagination .page-number:hover{
      cursor: url('/img/cur/link.cur'),auto;
}
/* 悬停菜单栏时的鼠标指针 */
#nav .site-page:hover{
      cursor: url('/img/cur/link.cur'),auto;
}
#site-name:hover {
    cursor: url('/img/cur/link.cur'),auto;
}
/*部分按钮*/
.tk-row-actions-start:hover{
    cursor: url('/img/cur/link.cur'),auto;
}
/*--------鼠标指针(end)---------*/

/*--------一些乱七八糟的修复---------*/
.space {
  color:#ffffff!important;
}
.timeline-item-content {
  font-size: 14px!important;
}
.comment {
  font-size: 14px!important;
}

/*--------一些乱七八糟的修复(end)---------*/


/*--------图标引入--------*/
svg.icon {
  /* 这里定义svg.icon，避免和Butterfly自带的note标签冲突 */
   width: 1em; height: 1em;
   /* width和height定义图标的默认宽度和高度*/
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}
/*--------节日彩色图标--------*/
svg.icon.festival-decoration {
  width: 3em;
  height: 3em;
  left: 2em;
  margin-bottom: -3em;
  display: block;
  z-index: 100;
  position: relative;
  -webkit-animation: sway 1s infinite ease-in-out alternate;
  animation: sway 1s infinite ease-in-out alternate;
}
@-webkit-keyframes sway {
0% {
  -webkit-transform: rotate(20deg);
  transform-origin: center top;
}
100% {
  -webkit-transform: rotate(-20deg);
  transform-origin: center top;
}
}
@keyframes sway {
0% {
  transform: rotate(20deg);
  transform-origin: center top;
}
100% {
  transform: rotate(-20deg);
  transform-origin: center top;
}
}